<!-- base.html -->
<!DOCTYPE html>
{% load static %}
{% load livereload_tags %}
{% livereload_script %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>
    <header id="header">
        <div id="conLeft">
            <a href="{% url 'landingpage' %}">
                <img src="{% static 'media/logo.png' %}" alt="stayeasy logo" title="stayeasy logo" id="imgLogo">
            </a>

    
                <div id="conTitle">
                    <a href="{% url 'landingpage' %}"> <p id="textTitle">stayeasy</p> </a>
                </div>
        </div> 
        <div id="conMid"></div>

     
        <div id="conRight">
            
                <!-- <form action="/submit" method="POST">
                    <label for="menu">
                        <div class="drop">
                            <img src="{% static 'media/iconMenu.png' %}" class="imgDrop">
                            <img src="{% static 'media/iconProfile.png' %}" class="imgDrop">
                            haha
                        </div>
                    </label>
                    <select name="fruits" id="fruits">
                        <option value="apple">Apple</option>
                        <option value="banana">Banana</option>
                        <option value="orange">Orange</option>
                        <option value="grapes">Grapes</option>
                        <option value="mango">Mango</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Submit">
                </form> -->
                <a href="languages"> hahaha</a>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            
        </div>



    </header>

    <!-- testing area -->
    <div id="conProds">
        <div class="prods">1</div>
        <div class="prods">2</div>
        <div class="prods">3</div>
        <div class="prods">4</div>
        <div class="prods">5</div>
        <div class="prods">6</div>
        <div class="prods">7</div>
        <div class="prods">8</div>
        <div class="prods">9</div>
        <div class="prods">10</div>

    </div>

        
    {% block content %}{% endblock %}
    
   
</body>
<footer>
    <div>Footer part</div>
</footer>
</html>
