{% extends 'stayeasy/base.html'%}
{% load static %}
{% load livereload_tags %}
{% livereload_script %}

{% block title %}
    {% if existing_review %}
        Editing My Review
    {% else %}
        Write Review
    {% endif %}
{% endblock %}

{% block content %}
<div class="conMid">
    
    <link rel="stylesheet" href="{% static 'css/review_form.css' %}">

    <div class="container review-container">
        <h2>
            {% if existing_review %}
                Editing My Review for {{ property.name }}
            {% else %}
                Write a Review for {{ property.name }}
            {% endif %}
        </h2>

            <form action="" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_rating">Rating (1-5):</label>
                    {{ form.rating }}
                </div>

                <div class="form-group">
                    <label for="id_review">Review:</label>
                    {{ form.review }}
                </div>

                <div class="button-group">
                    {% if existing_review %}
                        <button type="submit" id="reviewBtnSubmit" class="submit-button">Save Changes</button>
                        <a href="{% url 'reviews:delete_review' existing_review.id %}" id="reviewBtnDelete" class="delete-button">Delete Review</a>
                    {% else %}
                        <button type="submit" id="reviewBtnSubmit" class="submit-button">Submit Review</button>
                    {% endif %}
                    <a href="{% url 'properties:property_details' property.id %}" id="reviewBtnCancel" class="cancel-button">Cancel</a>
                </div>
            </form>
       
    </div>
</div>
{% endblock %}
