<!DOCTYPE html>
{% load static %}
{% load livereload_tags %}
{% livereload_script %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StayEasy: Login</title>
</head>
<body>
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="conMain">
  <div class="logBox">
    <h1 class="logtext">StayEasy Login</h1>
    <br>
    <form action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      
      <!-- Render the Username field -->
      <div class="form-group">
        <label for="{{ form.username.id_for_label }}">Email:</label>
        <br>
        {{ form.username }}  <!-- Render the input field -->
        {% if form.username.errors %}
          <div class="error">
            {% for error in form.username.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <br>
      <!-- Render the Password field -->
      <div class="form-group">
        <label for="{{ form.password.id_for_label }}">Password:</label>
        <br>
        {{ form.password }}  <!-- Render the input field -->
        {% if form.password.errors %}
          <div class="error">
            {% for error in form.password.errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <!-- Submit button -->
      <button type="submit" class="submitBtn">Log in</button>
    </form>
  
    <!-- Sign up link -->
      <p class="signupLink">Don't have an account? <br><a href="{% url 'accounts:signup' %}">   Sign up here</a></p>
  </div>
</div>

</body>
</html>
